.container {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 30px;
}
th {
    height: 30px;
    text-align: center;
    font-weight: 700;
}
td {
    height: 70px;
    background-color: #fff;
}
td:hover {
    background-color: #eee;
}

.today {
    background: #72d991;
}
th:nth-of-type(7),td:nth-of-type(7), th:nth-of-type(6),td:nth-of-type(6) {
    color: red;
    font-weight: bolder;
}


.addform {
    margin-bottom: 30px;
}




/*test comments*/



